<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPpWzDCY9vmiUcNVqxQ2oX1L5gnN297gg</string>
	<key>GCM_SENDER_ID</key>
	<string>391213646214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>feit.AlzSupport</string>
	<key>PROJECT_ID</key>
	<string>alzsupportapp</string>
	<key>STORAGE_BUCKET</key>
	<string>alzsupportapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391213646214:ios:e7abc8063c216025596c07</string>
</dict>
</plist>